@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --Fondo: 32, 32, 36;
    --Oscuro: 85, 69, 121;
    --Claro: 204, 86, 187;
    --FondoGris: 114, 117, 124;
}

html {
    scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
    :root {
        --Fondo: 32, 32, 36;
        --Oscuro: 0, 0, 0;
        --Claro: 0, 0, 0;
    }
}

body {
    background: #16161c;
    width: 100vw;
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width <= 900px) {
    body {
        padding-top: 5%;
    }
}

body::-webkit-scrollbar {
    width: 10px;
    background: linear-gradient(180deg, #ea546c 0%, #598cbe 100%);
}

body::-webkit-scrollbar-thumb {
    background: rgba(115, 125, 128, 0.76);
    border-radius: 5px;
}

/* App */
#foto {
    filter: drop-shadow(0 0 0.2rem #c2cf09);
}

.main-container {
    width: 90%;
    min-width: 90vw;
    height: 90%;
    min-height: 90vh;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 25% auto;
    gap: 2%;
    justify-items: center;
    align-items: center;

    & aside {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.5rem;
        gap: 40px;

        & #icon {
            background: linear-gradient(145deg, #1b1b1f, #17171a);
            box-shadow: 2px 1px 10px #0f0f11, -1px -1px 5px #66666d;
        }
    }

    & section {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        & nav {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            & #title {
                position: relative;
                justify-content: center;
                background: #c2cf09;

                border-radius: 0px 0px 1.5rem 0px;

                & h1 {
                    opacity: 1;
                    transition: opacity 1s ease-in-out;

                    @starting-style {
                        opacity: 0.1;
                    }
                }
            }
        }
        & #contenido {
            /* background: #19191d; */
            width: 100%;
            height: 100%;
        }
    }
}

@media (width <= 900px) {
    .main-container {
        width: 95%;
        min-width: 90vw;
        height: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: auto;
        gap: 2%;

        padding-bottom: 2rem;
    }
}

/* NavMenu */
#line {
    position: absolute;
    height: 5px;
    border-radius: 1.5rem;
    background: #c2cf09;
    z-index: 99;

    transition: all 0.3s ease-in-out;
}

#effect {
    opacity: 1;
    transition: opacity 1s ease-in-out;

    @starting-style {
        opacity: 0.1;
    }
}

/* Tecnologias */
.GrillaTecnologias {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
}

@media (width <= 640px) {
    .GrillaTecnologias {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

.Tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
    gap: 20px;
}

.flexTec {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.ItemsTecnologias {
    padding: 10px;
    text-align: center;
    color: #ffffffe6;
    font-weight: bold;

    border-radius: 5px;

    background: #6b7280;
}

.IconoTec {
    width: 100px;
    font-size: 100px;
    color: #c2cf09;
}

.h1Tec {
    font-size: xx-large;
    font-family: Merienda;
    color: rgba(255, 255, 255, 0.9);
}

/* Projects */
:root {
    --swiper-pagination-bottom: 0;
}

.card {
    width: 50%;
    height: 400px;
    margin: 50px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.1s ease;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card h1,
.card p {
    margin: 0;
    padding: 0;
    transform: translateZ(50px);
}

#card-info {
    background: #0000008a;
    transition: background 0.5s ease-in;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    box-shadow: 13px 13px 10px -7px rgba(0, 0, 0, 0.24);
}

#img {
    opacity: 1;
    transition: opacity 1s ease-in-out;

    @starting-style {
        opacity: 0;
    }
}

@media (width <= 1400px) {
    #card-info {
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }
}

#card-info:hover {
    background: #16161c;
}

.mySwiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}
#swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    overflow: visible;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1.5rem;
}

.mySwiper .swiper-pagination {
    --swiper-pagination-color: #c2cf09;
    --swiper-pagination-bullet-size: 15px;
    --swiper-pagination-bullet-inactive-color: #c2cf095d;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 0.8;
    --swiper-pagination-bullet-horizontal-gap: 2px;

    position: relative;
    margin-top: 0px;
    z-index: -1;
}
.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
    --swiper-navigation-size: 30px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    --swiper-theme-color: #c2cf09;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    position: absolute;

    transition: background 0.2s ease-in-out;
}

@media (width <= 640px) {
    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        top: 100%;
        transform: translateY(-100%);
    }
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
    background: #c2cf0928;
    transition: background 0.5s ease-in-out;
}

.mySwiper .swiper-button-prev {
    left: 20px; /* Ajusta este valor según sea necesario */
}

.mySwiper .swiper-button-next {
    right: 20px; /* Ajusta este valor según sea necesario */
}

/* Menu */
input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

input[id="1"]:checked + #MenuTitle {
    color: #c2cf09;
    z-index: 1;
}

input[id="2"]:checked + #MenuTitle {
    color: #c2cf09;
    z-index: 1;
}

input[id="3"]:checked + #MenuTitle {
    color: #c2cf09;
    z-index: 1;
}

/* spinner */

.spinner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #c2cf09;
}

.spinner .bubble {
    width: 5px;
    height: 5px;
    background: #c2cf09;
    border-radius: 100%;
}

.b1 {
    animation: bubbleScale 3s ease-in-out infinite;
    animation-delay: 1s;
}
.b2 {
    animation: bubbleScale 3s ease-in-out infinite;
    animation-delay: 2s;
}
.b3 {
    animation: bubbleScale 3s ease-in-out infinite;
    animation-delay: 2.5s;
}

@keyframes bubbleScale {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(150%);
    }
    100% {
        transform: scale(100%);
    }
}
